body {
    font-family: 'Josefin Sans',  Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #666666;
    margin: 0;
    border-top: 3px solid #258225;
    /*background: #643232;*/
}

.jumbotron {
    display: flex;
    align-items: center;
    background-image: url("../img/jumbo_bckgrnd3.png");
    background-size: cover;
    color: #ffffff;
    height: 0px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}
.nav-element {
    display: inline-flex;
    bottom: 0;
    display: table-cell;
}
.menu-icon{
    height: 45px ;
}
 .right-side {
     float: right;
     display: table-cell;
     padding: 15px;
     /*display: inline-flex;*/


 }

 .left-side {
     float: none;
     /*display: table-cell;*/
     font-family: 'Josefin Sans', sans-serif;
     font-size: 40px !important;
     color: #2a2a2a !important;
     display: inline-block;
     vertical-align: top;

 }

 .long-icon{
     /*-webkit-clip-path: polygon(77% 0, 100% 0, 100% 100%, 72% 100%);
     clip-path: polygon(77% 0, 100% 0, 100% 100%, 72% 100%);*/
 }
.topnav-wrap {
    bottom: 0;
}

 #topnav {
     clear: both;
     padding: 0;
     margin: 0;
     min-height: 47px;
     float: left;
 }

 #topnav ul li a {
     float: left;
     color: #5e5e5e;
     font-size: 24px;
     text-decoration: none;
     font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
     padding: 15px 10px 11px;
     border-bottom: 2px solid transparent;
     box-sizing: border-box;
     outline: 0;
     list-style-type: none;
     margin-bottom: 3px;
 }

 #topnav ul {
     display: inline;
     list-style: none;
     float: left;
     min-height: 47px;
 }

 #topnav-wrap table {
     border-collapse: collapse;
     border-spacing: 0;
     width: 100%;
 }

 table {
     display: table;
     border-collapse: separate;
     border-spacing: 2px;
     border-color: grey;
 }

 ul, menu, dir {
     display: block;
     list-style-type: disc;
     -webkit-margin-before: 1em;
     -webkit-margin-after: 1em;
     -webkit-margin-start: 0px;
     -webkit-margin-end: 0px;
     -webkit-padding-start: 40px;
 }

 #topnav ul li {
     list-style: none;
     float: left;
     padding-top: 0;
     padding-right: 15px;
     padding-left: 15px;
     padding-bottom: 0;
     list-style: none;
     /*border-right: 2px solid #dedede;*/
     border-left: 2px dashed #dedede;
 }

 li {
     display: list-item;
     text-align: -webkit-match-parent;
 }


 #topnav-wrap {
     /*border-top: 1px solid #dedede;*/
     border-top: 2px dashed #dedede;
     border-bottom: 2px dashed #dedede;
     box-sizing: border-box;
     /*background: #fff url(theme/border-bottom.png?1474730211) left bottom repeat-x;*/
 }
 #header-wrap, #topnav-wrap, #banner-wrap, #main-wrap, #footer-wrap {
     width: 100%;
     min-width: 960px;
 }

 div {
     display: block;
 }

 .wsite-menu-item-wrap {
     display: list-item;
     font-size: 35px;
     float:left;
     opacity: 0.55;

 }

 #home{
     opacity: 1;
     
 }

 .paragraph{
     margin-top: 20px;

 }

 #research-content{
     display: none;
 }
 
